body
  letter-spacing: .01em

.posts-expand .post-title
  font-weight: 500

.post-body
  line-height: 1.9

.post-body code
  border-radius: 3px

.site-brand-container
  border-radius: 0

$content-desktop = 760px
$content-desktop-large = 860px
$content-desktop-largest = 960px
